@import "reset.css";
body {
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;
	background: #342315 url(img/bg_body.jpg) top repeat;
	font-family: Arial, serif;
	font-size: 12px;
	color: #231b1b;
	line-height: 18px
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both
}

.right_20 {
	margin-right: 20px
}

.left_20 {
	margin-left: 20px
}

.grid_30 {
	width: 30%
}

.grid_50 {
	width: 48%
}

.grid_70 {
	width: 67%
}

a {
	color: #231b1b;
	text-decoration: none;
}

h1 {
	font-size: 24px;
	color: #231b1b;
	text-transform: uppercase;
	line-height: 29px;
	padding-bottom: 16px
}

h1.first {
	padding-bottom: 0
}

b {
	color: #8b1515;
	display: block;
}

div.bg_1 {
	background: url(img/bg_1.png) top no-repeat;
}

div.bg_2 {
	background: url(img/bg_2.png) left bottom repeat-x;
	min-height: 100%;
	position: relative
}

div.bg_3 {
	background: url(img/bg_3.png) top no-repeat;
}

div.centr {
	position: relative;
	margin: 0 auto;
	padding-top: 186px;
	width: 920px;
	z-index: 0
}

div.header {
	height: 90px;/*163px;*/
	background: url(img/header_top.jpg) top no-repeat;
	-webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, .8);
	-moz-box-shadow: 1px 0 10px rgba(0, 0, 0, .8);
	box-shadow: 1px 0 10px rgba(0, 0, 0, .8);
}

div.content {
	background: #c8b793 url(img/bg_content.jpg) top repeat-y;
	-webkit-box-shadow: 1px 10px 10px rgba(0, 0, 0, .8);
	-moz-box-shadow: 1px 10px 10px rgba(0, 0, 0, .8);
	box-shadow: 1px 10px 10px rgba(0, 0, 0, .8);
	z-index: 0
}

div.footer {
	height: 121px;
	background: url(img/bg_footer.jpg) right top no-repeat;
	padding-bottom: 40px
}

div.pad {
	padding: 0 40px;
	width: 920px;
}

div.content a {
	text-decoration: underline
}

div.content a:hover {
	text-decoration: none
}

div.menu {
	border-bottom: 1px #231b1b solid;
	padding-bottom: 12px;
	border-top: 1px #231b1b solid;
	padding-top: 12px;
	text-decoration: none;
}

div.menu a {
	color: #231b1b;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	background: url(img/bg_menu.png) 100% -29px no-repeat;
	line-height: 18px;
	padding-right: 20px;
	text-decoration: none;
	margin-right: 13px;
	margin-left: 10px;
	position: relative!important;
	z-index: 0
}

div.menu a:hover,div.menu a.act {
	background-position: 100% 4px;
	color: #8b1515;
	text-decoration: none;
	z-index: 0;
	position: relative!important;
}

a.logo {
	display: block;
	width: 265px;
	height: 62px;
	float: left;
	margin-top: 28px;
}

div.header div.pad div.social {
	padding-top: 45px;
}

div.header div.pad div.social a {
	display: block;
	float: right;
	margin-right: 3px;
	padding-top: 5px;
	position: relative;
	width: 21px;
	height: 22px;
}

img.photo {
	background: #e9dbba;
	padding: 4px;
	border: 1px #a39578 solid;
	margin-bottom: 10px
}

div.list a {
	display: block;
	height: 30px;
	text-decoration: none;
	border-bottom: 1px #746755 dotted;
	line-height: 30px;
	background: url(img/bg_menu_2.png) 0 50% no-repeat;
	padding-left: 15px
}

div.list a:hover {
	text-decoration: underline;
	color: #912823;
	background: url(img/bg_menu_2.png) 0 50% no-repeat;
}

a.more {
	display: block;
	width: 115px;
	height: 39px;
	background: url(img/more.png) top no-repeat;
	text-indent: -9999px;
	cursor: pointer;
	margin-top: 15px
}

a.news {
	display: block;
	width: 155px;
	height: 39px;
	background: url(img/news.png) top no-repeat;
	text-indent: -9999px;
	cursor: pointer;
	margin-top: 15px
}

div.footer div.pad {
	padding-top: 30px
}

div.footer div.pad a {
	color: #231b1b;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background: url(img/bg_menu_2.png) 100% 50% no-repeat;
	line-height: 18px;
	padding-right: 14px;
	text-decoration: none;
	margin-right: 0;
	margin-left: 2px;
}

div.footer div.pad a:hover {
	background: url(img/bg_menu_1.png) 100% 50% no-repeat;
	color: #8b1515;
	text-decoration: none
}


/* ============================= Dialog ====================== */

.ui-dialog {
	position: absolute;
	padding: .2em;
	width: 300px;
	overflow: hidden;
    background-color: white;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 16px .1em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
	display: block;
	margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
	padding: 0;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
	font-size: 12px;
	font-family: Arial, serif
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}

.ui-dialog .ui-resizable-se {
	width: 14px;
	height: 14px;
	right: 3px;
	bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}


/*================= Contacts =========================*/

.notification_error {
	height: auto;
	width: 96%;
	padding: 2px;
	background: #d5c6a5;
	text-align: left;
	color: #f00;
	border: 1px solid #7e715a;
}

.notification_ok {
	border: 1px solid #7e715a;
	height: auto;
	width: 96%;
	padding: 8px;
	background: #d5c6a5;
	text-align: center;
}

.info_fieldset {
	border: 0
}

.info_fieldset legend {
	border: 1px #7e715a solid;
	color: black;
	font: 13px Verdana;
	padding: 2px 5px 2px 5px;
}

.pin {
	width: 115px;
	height: 40px;
	background: url(img/submit.png) top no-repeat;
	cursor: pointer;
	margin-top: 15px;
	display: block;
	margin-bottom: 10px;
	border: 0;
	text-indent: -9999px;
	font-size: 1px;
	line-height: 1px;
}

.pin:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer
}


/* Label */

label {
	width: 100%;
	margin: 0;
	float: left;
	text-align: left;
	color: #231b1b
}


/* Input, Textarea */

input {
	padding: 0;
	border: 1px solid #7e715a;
	color: #231b1b;
	background: #d5c6a5;
	font: 12px Arial, Helvetica, Arial, sans-serif;
	height: 30px;
	margin: 0 0 6px;
	width: 95%
}

textarea {
	padding: 0;
	float: left;
	background: #d5c6a5;
	border: 1px solid #7e715a;
	color: #231b1b;
	font: 12px Arial, Helvetica, Arial, sans-serif;
	height: 75px;
	margin: 0 0 6px;
	width: 95%
}

#dropdown {
	position: relative;
	width: 320px;
	padding-top: 8px
}

#dropdown li {
	float: left;
	display: block;
	background: url(img/bg_top_menu.gif) no-repeat;
	height: 30px;
	line-height: 10px
}

#dropdown li._1 {
	width: 70px;
	background-position: 50px 0;
}

#dropdown li._2 {
	width: 100px;
	background-position: 55px 0;
}

#dropdown li._3 {
	width: 150px;
	background-position: 120px 0;
}

#dropdown li a.parent,
#dropdown li a.parent_2 {
	padding-right: 26px;
	background: url(img/bg_parrent.jpg) right 3px no-repeat;
	display: block;
	float: left;
	padding-bottom: 25px
}

#dropdown li a:hover {
	text-decoration: underline
}

#dropdown ul {
	/* cancel the default list style */
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	top: 40px
}

#dropdown ul.children {
	/* make sure it has the highest z-index */
	position: absolute;
	right: 100px;
	z-index: 1000!important;
	background: #231b1b;
	width: 200px;
	zoom: 1;
	top: 40px
}

#dropdown ul.children_2 {
	/* make sure it has the highest z-index */
	position: absolute;
	right: 0;
	z-index: 1000!important;
	background: #231b1b;
	width: 200px;
	top: 40px
}

ul.children_3 {
	/* make sure it has the highest z-index */
	position: absolute;
	left: 30px;
	top: 309px;
	z-index: 1000!important;
	background: url(img/bg_ch_3.gif) 20px 7px no-repeat;
	width: 280px;
	padding-top: 12px;
}

#dropdown ul li {
	font-size: 12px;
	height: 30px;
	border-bottom: 1px #3c3737 dotted;
	float: none;
	width: 180px;
	background: none;
	line-height: 30px;
	margin-left: 10px;
	padding-left: 2px
}

#dropdown ul li a {
	display: block;
	height: 30px;
	color: #fff0cd;
	font-size: 12px;
}

#dropdown ul li a:hover {
	color: #ff3a3a;
	text-decoration: none
}

ul.children_3 li {
	font-size: 12px;
	height: 30px;
	border-bottom: 1px #3c3737 dotted;
	float: none;
	width: 200px;
	background: #231b1b;
	line-height: 30px;
	margin-left: 10px;
	padding-left: 10px
}

ul.children_3 li a {
	display: block;
	height: 30px;
	color: #fff0cd;
	font-size: 12px;
	font-weight: normal;
	background: none;
	line-height: 32px
}

ul.children_3 li a:hover {
	color: #fff0cd;
	text-decoration: underline;
}

.special,
.other {}

.last {
	position: relative;
	right: 0!important;
	background: none!important;
	padding-right: 0!important;
	top: 0!important;
	float: right;
}


@font-face{
  font-family: "farpa";
  src: url('font/farpa.ttf') format("truetype");
}

.logoFARPA {
    font-size: 80px;
	font-family: 'farpa', serif;
    padding: 42px 0;
    width: 300px;
	position: relative;
	margin-left: 35px;
}

.photo_farpa1 {
    width: 23%;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    background: #c8bc9e;
    height: 32px;
    border-radius: 5px;
}