{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'site.css' %}">
    <link rel="stylesheet" href="{% static 'js/ui/jquery.ui.all.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.ui.dialog.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.ui.theme.css' %}">


    <script type="text/javascript" src="{% static 'js/jquery-1.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/anima.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/jquery.ui.core.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/jquery.ui.mouse.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/jquery.ui.draggable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/jquery.ui.position.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/jquery.ui.resizable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/jquery.ui.dialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/jquery.ui.core.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/cufon.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui/Army_500.font.js' %}"></script>
    <title>FARPA - PaintBall</title>
</head>
<body>
<!--http://www.bootstrap-template.com/templates/HTML/300111102/index.html-->
<!--http://www.bootstrap-template.com/live-demo/300111857-->
<div class="bg_2">
    <div class="bg_1">
        <div class="bg_3">
            <div class="centr">
                <!--  ////////////////  Inicio Cabeçalho do site   ///////////////////////////// -->
                <div class="header">
                    <div class=" left logoFARPA">F.A.R.P.A</div>
                    <div class="pad">
                        <div class="right social">
                            <a class="anima" href="#"><img src="{% static 'img/img_1.jpg' %}" class="img-fluid"
                                                           ALT="Responsive image"></a> <!--RSS-->
                            <a class="anima" href="#"><img src="{% static 'img/img_2.jpg' %}" class="img-fluid"
                                                           ALT="Responsive image"></a> <!--TWITER-->
                            <a class="anima" href="#"><img src="{% static 'img/img_3.jpg' %}" class="img-fluid"
                                                           ALT="Responsive image"></a> <!--NAOSEI-->
                            <a class="anima" href="#"><img src="{% static 'img/img_4.jpg' %}" class="img-fluid"
                                                           ALT="Responsive image"></a> <!--FACEBOOK-->
                            <div class="clear">

                            </div>
                        </div>
                    </div>
                </div>
                <!--  ////////////////  Fim Cabeçalho do site   ///////////////////////////// -->

                <!--  ////////////////  Inicio Corpo do site   ///////////////////////////// -->
                <div class="content">
                    <div class="pad">
                        <div class="line_1"></div>
                        <!--  ////////////////  Inicio Menu do site   ///////////////////////////// -->
                        <div class="menu">
                            <a href="index.html" id="down" class="special act">F.A.R.P.A</a>
                            <ul class="children_3" style="display:none">
                                <li><a href="#">Menu 1</a></li>
                                <li><a href="#">Menu 2</a></li>
                                <li><a href="#">Menu 3</a></li>
                                <li><a href="#">Menu 4</a></li>
                                <li><a href="#">Menu 5</a></li>
                            </ul>
                            <a href="index-2.html" class="special">Menu 2</a>
                            <a href="index-3.html" class="special">Menu 3</a>
                            <a href="index-4.html" class="special">Menu 4</a>
                            <a href="index-5.html" class="special ">Galeria</a>
                        </div>
                        <!--  ////////////////  Fim Menu do site   ///////////////////////////// -->
                        {% block content1 %}
                        {% endblock %}
                        <!--  ////////////////  END  Read More             ///////////////////////////// -->
                        <div class="clear"></div>
                        <br>
                        <div style="height:1px; border-bottom:1px #726754  dotted"></div>
                        <div class="clear"></div>
                        <br>
                        <div class="left grid_30 right_20">
                            {% block missao %}
                            {% endblock %}
                            <!--  ////////////////  END  Read More             ///////////////////////////// -->
                        </div>
                        <div class="left grid_30">
                            {% block nossa_historia %}
                            {% endblock %}
                            <!--  ////////////////  END  Read More             ///////////////////////////// -->
                        </div>
                        <div class="right grid_30 ">
                            {% block noticias %}
                            {% endblock %}
                            <!--  ////////////////  END  Read More             ///////////////////////////// -->
                        </div>
                        <div class="clear"></div>
                        <br>
                    </div>
                </div>
                <!--  ////////////////  Fim Corpo do site   ///////////////////////////// -->

                <!--  ////////////////  Inicio RodaPé do site   ///////////////////////////// -->
                <div class="footer">
                    <div class="pad">
                        {#                        <a href="index.html" class="special act">admission</a>#}
                        {#                        <a href="index-2.html" class="special">academics</a>#}
                        {#                        <a href="index-3.html" class="special">students life</a>#}
                        {#                        <a href="index-4.html" class="special">athletics</a>#}
                        {#                        <a href="index-5.html" class="special">photo gallery</a>#}
                        {#                        <a href="contacts.html" class="special" style="padding-right:0; background:none">contacts</a>#}
                        {#                        <div class="clear"></div>#}
                        <strong>F.A.R.P.A</strong> &copy; 2018. All rights reserved.
                    </div>
                </div>
                <!--  ////////////////  Fim RodaPé do site   ///////////////////////////// -->
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>