{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    {% block content1 %}
        <div class="clear"></div>
                        <br>
                        <img src="{% static 'img/photo_farpa1.jpg' %}" class="img-fluid photo left right_20 photo_farpa1">
                        <h1 class="left other first">F.A.R.P.A - PaintBall</h1>
                        <br><br>
                        <b> F.A.R.P.A - Força de Ação Rapida Paintball.</b>
                        Somos um time que patricamos o SPORT PaintBall.
	                    Nosso time esta esta na região de Goiania/GO,
	                    venha nos conhecer e participar de nosso time.
	                    Venha conhecer nosso Sport, jogamos com toda segurança requisitada,
	                    Mascara Barel, em campo exigimos marcadores cronados a 280fps, mascara em campo e obrigatorio,
	                    não remova a mascara de forma alguma, nunca olhe ou aponte o cano do marcador para alguem sem
	                    mascara ou em direção a seus olhos.
	                    <br><br>
	                    Clique em nossa historia e conheça mais sobre nosso time.
                        <!--  ////////////////         Read More            ///////////////////////////// -->
                        <a id="pin_3" class="more">read more</a>
                        <div id="dialog_3">
                            Bem Vindo Guerreiro, consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim
                            arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. In ante
                            velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum vel pede at
                            sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer
                            massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede.<br><br> Maecenas sit amet
                            augue. Sed blandit lectus eget lectus. Mauris justo. Curabitur nibh lectus, dapibus id,
                            tempor eu, tempor non, erat. Proin pede eros, pharetra ut, viverra sed, egestas nec, mauris.
                            In pharetra ipsum condimentum elit. Suspendisse mattis turpis eget odio. Class aptent taciti
                            sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Pellentesque tempus
                            dictum urna. Sed consequat massa eget metus.<br><br> Quisque mollis pretium nisl. Mauris
                            venenatis porttitor risus. Phasellus accumsan turpis. Nam sagittis nulla quis orci.
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Donec vitae elit. Nulla tempor fermentum orci. Maecenas ac est hendrerit magna aliquam
                            sagittis. Curabitur convallis interdum erat. Proin feugiat sem eu nisl. Aliquam erat
                            volutpat. Fusce a mauris vel nulla faucibus tempor. Aenean scelerisque neque aliquam nibh
                            venenatis molestie. Integer gravida ornare lectus.<br><br> Nunc vehicula elit a tellus. Nunc
                            est ipsum, facilisis at, auctor tincidunt, adipiscing consequat, orci. Fusce pellentesque.
                            Proin lorem. Mauris suscipit erat a turpis. Nunc mollis lectus in dolor. Curabitur velit.
                            Curabitur commodo vestibulum justo. Praesent dictum, est ut porta adipiscing, ligula mi
                            ultricies velit, non hendrerit mi augue id eros. Nulla mauris purus, dignissim a, eleifend
                            ac, iaculis quis, lectus. Curabitur tristique nunc.
                        </div>
                        <script type="text/javascript">
                            $.fx.speeds._default = 800;
                            $(function () {
                                $("#dialog_3").dialog({
                                    position: ["center", "center"],
                                    height: 420,
                                    width: 700,
                                    autoOpen: false,
                                    hide: "explode",
                                    show: "blind",
                                    title: "Bem Vindo Guerreiro"
                                });

                                $("#pin_3").click(function () {
                                    $("#dialog_3").dialog("open");
                                    return false;
                                });
                            });

                        </script>
    {% endblock %}
	{% block missao %}
		<h1 class="other">Nossa Missão</h1>
                            <img src="{% static 'img/photo_2.jpg' %}" class=" img-fluid photo">
                            <b> In pharetra ipsum condimentum elit.</b>
                            Suspendisse mattis turpis eget odio. Class aptent taciti sociosqu ad litora torquent per
                            conubia nostra, per inceptos hymenaeos. Pellentesque tempus dictum urna. Sed consequat massa
                            eget metus. Quisque mollis pretium nisl. Mauris venenatis porttitor risus
                            <!--  ////////////////         Read More            ///////////////////////////// -->
                            <a id="pin_2" class="more ">read more</a>
                            <div id="dialog_2">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc suscipit. Suspendisse
                                enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero.
                                In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum
                                vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu
                                libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum
                                pede.<br><br> Maecenas sit amet augue. Sed blandit lectus eget lectus. Mauris justo.
                                Curabitur nibh lectus, dapibus id, tempor eu, tempor non, erat. Proin pede eros,
                                pharetra ut, viverra sed, egestas nec, mauris. In pharetra ipsum condimentum elit.
                                Suspendisse mattis turpis eget odio. Class aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos hymenaeos. Pellentesque tempus dictum urna. Sed consequat
                                massa eget metus.<br><br> Quisque mollis pretium nisl. Mauris venenatis porttitor risus.
                                Phasellus accumsan turpis. Nam sagittis nulla quis orci. Vestibulum ante ipsum primis in
                                faucibus orci luctus et ultrices posuere cubilia Curae; Donec vitae elit. Nulla tempor
                                fermentum orci. Maecenas ac est hendrerit magna aliquam sagittis. Curabitur convallis
                                interdum erat. Proin feugiat sem eu nisl. Aliquam erat volutpat. Fusce a mauris vel
                                nulla faucibus tempor. Aenean scelerisque neque aliquam nibh venenatis molestie. Integer
                                gravida ornare lectus.<br><br> Nunc vehicula elit a tellus. Nunc est ipsum, facilisis
                                at, auctor tincidunt, adipiscing consequat, orci. Fusce pellentesque. Proin lorem.
                                Mauris suscipit erat a turpis. Nunc mollis lectus in dolor. Curabitur velit. Curabitur
                                commodo vestibulum justo. Praesent dictum, est ut porta adipiscing, ligula mi ultricies
                                velit, non hendrerit mi augue id eros. Nulla mauris purus, dignissim a, eleifend ac,
                                iaculis quis, lectus. Curabitur tristique nunc.
                            </div>
                            <script type="text/javascript">
                                $.fx.speeds._default = 800;
                                $(function () {
                                    $("#dialog_2").dialog({
                                        position: ["center", "center"],
                                        height: 420,
                                        width: 700,
                                        title: 'Links',
                                        autoOpen: false,
                                        hide: "explode",
                                        show: "blind",
                                        title: "Our mission"
                                    });

                                    $("#pin_2").click(function () {
                                        $("#dialog_2").dialog("open");
                                        return false;
                                    });
                                });

                            </script>
	{% endblock %}
	{% block nossa_historia %}
		<h1 class="other">Nossa Historia</h1>
                            <img src="{% static 'img/photo_3.jpg' %}" class="img-fluid photo">
                            <b> In pharetra ipsum condimentum elit.</b>
                            Suspendisse mattis turpis eget odio. Class aptent taciti sociosqu ad litora torquent per
                            conubia nostra, per inceptos hymenaeos. Pellentesque tempus dictum urna. Sed consequat massa
                            eget metus. Quisque mollis pretium nisl. Mauris venenatis porttitor risus
                            <!--  ////////////////         Read More            ///////////////////////////// -->
                            <a id="pin_5" class="more ">read more</a>
                            <div id="dialog_5">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc suscipit. Suspendisse
                                enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero.
                                In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum
                                vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu
                                libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum
                                pede.<br><br> Maecenas sit amet augue. Sed blandit lectus eget lectus. Mauris justo.
                                Curabitur nibh lectus, dapibus id, tempor eu, tempor non, erat. Proin pede eros,
                                pharetra ut, viverra sed, egestas nec, mauris. In pharetra ipsum condimentum elit.
                                Suspendisse mattis turpis eget odio. Class aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos hymenaeos. Pellentesque tempus dictum urna. Sed consequat
                                massa eget metus.<br><br> Quisque mollis pretium nisl. Mauris venenatis porttitor risus.
                                Phasellus accumsan turpis. Nam sagittis nulla quis orci. Vestibulum ante ipsum primis in
                                faucibus orci luctus et ultrices posuere cubilia Curae; Donec vitae elit. Nulla tempor
                                fermentum orci. Maecenas ac est hendrerit magna aliquam sagittis. Curabitur convallis
                                interdum erat. Proin feugiat sem eu nisl. Aliquam erat volutpat. Fusce a mauris vel
                                nulla faucibus tempor. Aenean scelerisque neque aliquam nibh venenatis molestie. Integer
                                gravida ornare lectus.<br><br> Nunc vehicula elit a tellus. Nunc est ipsum, facilisis
                                at, auctor tincidunt, adipiscing consequat, orci. Fusce pellentesque. Proin lorem.
                                Mauris suscipit erat a turpis. Nunc mollis lectus in dolor. Curabitur velit. Curabitur
                                commodo vestibulum justo. Praesent dictum, est ut porta adipiscing, ligula mi ultricies
                                velit, non hendrerit mi augue id eros. Nulla mauris purus, dignissim a, eleifend ac,
                                iaculis quis, lectus. Curabitur tristique nunc.
                            </div>
                            <script type="text/javascript">
                                $.fx.speeds._default = 800;
                                $(function () {
                                    $("#dialog_5").dialog({
                                        position: ["center", "center"],
                                        height: 420,
                                        width: 700,
                                        title: 'Links',
                                        autoOpen: false,
                                        hide: "explode",
                                        show: "blind",
                                        title: "Our history"
                                    });

                                    $("#pin_5").click(function () {
                                        $("#dialog_5").dialog("open");
                                        return false;
                                    });
                                });

                            </script>
	{% endblock %}
	{% block noticias %}
		<h1 class="special">Últimas Noticias</h1>
                            <strong> 28.04.2011</strong><br>
                            <b> Maecenas ac est hendrerit magna</b>
                            Curabitur convallis interdum erat. Proin feugiat sem eu nisl. Aliquam erat volutpat.
                            <br><br>
                            <strong>20.04.2011</strong><br>
                            <b>Fusce a mauris vel nulla faucibus tempor.</b>
                            Aenean scelerisque neque aliquam nibh venenatis molestie. Integer gravida ornare lectus.
                            <br><br>
                            <strong>25.04.2011</strong>
                            <b>Fusce a mauris vel nulla faucibus tempor.</b>
                            Aenean scelerisque neque aliquam nibh venenatis molestie. Integer gravida ornare lectus.
                            <!--  ////////////////         Read More            ///////////////////////////// -->
                            <a id="pin_6" class="news ">read more</a>
                            <div id="dialog_6">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc suscipit. Suspendisse
                                enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero.
                                In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum
                                vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu
                                libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum
                                pede.<br><br> Maecenas sit amet augue. Sed blandit lectus eget lectus. Mauris justo.
                                Curabitur nibh lectus, dapibus id, tempor eu, tempor non, erat. Proin pede eros,
                                pharetra ut, viverra sed, egestas nec, mauris. In pharetra ipsum condimentum elit.
                                Suspendisse mattis turpis eget odio. Class aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos hymenaeos. Pellentesque tempus dictum urna. Sed consequat
                                massa eget metus.<br><br> Quisque mollis pretium nisl. Mauris venenatis porttitor risus.
                                Phasellus accumsan turpis. Nam sagittis nulla quis orci. Vestibulum ante ipsum primis in
                                faucibus orci luctus et ultrices posuere cubilia Curae; Donec vitae elit. Nulla tempor
                                fermentum orci. Maecenas ac est hendrerit magna aliquam sagittis. Curabitur convallis
                                interdum erat. Proin feugiat sem eu nisl. Aliquam erat volutpat. Fusce a mauris vel
                                nulla faucibus tempor. Aenean scelerisque neque aliquam nibh venenatis molestie. Integer
                                gravida ornare lectus.<br><br> Nunc vehicula elit a tellus. Nunc est ipsum, facilisis
                                at, auctor tincidunt, adipiscing consequat, orci. Fusce pellentesque. Proin lorem.
                                Mauris suscipit erat a turpis. Nunc mollis lectus in dolor. Curabitur velit. Curabitur
                                commodo vestibulum justo. Praesent dictum, est ut porta adipiscing, ligula mi ultricies
                                velit, non hendrerit mi augue id eros. Nulla mauris purus, dignissim a, eleifend ac,
                                iaculis quis, lectus. Curabitur tristique nunc.
                            </div>
                            <script type="text/javascript">
                                $.fx.speeds._default = 800;
                                $(function () {
                                    $("#dialog_6").dialog({
                                        position: ["center", "center"],
                                        height: 420,
                                        width: 700,
                                        title: 'Links',
                                        autoOpen: false,
                                        hide: "explode",
                                        show: "blind",
                                        title: "Our history"
                                    });

                                    $("#pin_6").click(function () {
                                        $("#dialog_6").dialog("open");
                                        return false;
                                    });
                                });

                            </script>
	{% endblock %}
{% endblock %}